.App {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
}

#country-quiz {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  text-transform: uppercase;

  /* color: #f2f2f2; */
}
